.individual-project-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.individual-project-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.individual-project-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.individual-project-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.individual-project-navlink {
  display: contents;
}
.individual-project-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.individual-project-navlink1 {
  display: contents;
}
.individual-project-component {
  text-decoration: none;
}
.individual-project-icon-group {
  display: flex;
}
.individual-project-burger-menu {
  display: none;
}
.individual-project-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.individual-project-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.individual-project-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.individual-project-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.individual-project-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.individual-project-image1 {
  height: 2rem;
}
.individual-project-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.individual-project-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.individual-project-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.individual-project-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.individual-project-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.individual-project-text {
  margin-bottom: var(--dl-space-space-unit);
}
.individual-project-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.individual-project-text2 {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.individual-project-container3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.individual-project-text3 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.individual-project-container4 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.individual-project-text4 {
  color: var(--dl-color-gray-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.individual-project-container5 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.individual-project-text6 {
  color: var(--dl-color-gray-500);
  font-weight: 400;
}
.individual-project-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.individual-project-navlink2 {
  width: var(--dl-size-size-xlarge);
  height: 36px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.individual-project-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.individual-project-image2 {
  width: 200px;
  object-fit: cover;
}
.individual-project-link {
  display: contents;
}
.individual-project-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.individual-project-link1 {
  display: contents;
}
.individual-project-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.individual-project-link2 {
  display: contents;
}
.individual-project-icon16 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.individual-project-container7 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 767px) {
  .individual-project-blog-post-card {
    flex-direction: column;
    justify-content: space-between;
  }
  .individual-project-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .individual-project-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .individual-project-container3 {
    width: 100%;
  }
  .individual-project-text3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .individual-project-container4 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .individual-project-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .individual-project-text7 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .individual-project-header {
    padding: var(--dl-space-space-unit);
  }
  .individual-project-mobile-menu {
    padding: 16px;
  }
  .individual-project-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .individual-project-text7 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
