.student-login-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.student-login-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.student-login-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-login-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.student-login-navlink {
  display: contents;
}
.student-login-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.student-login-navlink1 {
  display: contents;
}
.student-login-component {
  text-decoration: none;
}
.student-login-icon-group {
  display: flex;
}
.student-login-burger-menu {
  display: none;
}
.student-login-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.student-login-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-login-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.student-login-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.student-login-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.student-login-image1 {
  height: 2rem;
}
.student-login-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-login-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-login-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-login-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-login-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-login-container3 {
  width: 1530px;
  height: 874px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1471086569966-db3eebc25a59?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHxtaW5pbWFsaXNtJTIwcGxhbnR8ZW58MHx8fHwxNjI2MTgyODMw&ixlib=rb-1.2.1&w=1600');
  background-position: center;
}
.student-login-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.student-login-text {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.student-login-textinput {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
}
.student-login-textinput1 {
  align-self: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.student-login-navlink2 {
  align-self: center;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.student-login-button {
  align-self: center;
}
.student-login-navlink3 {
  text-decoration: none;
}
.student-login-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-login-image2 {
  width: 200px;
  object-fit: cover;
}
.student-login-link {
  display: contents;
}
.student-login-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.student-login-link1 {
  display: contents;
}
.student-login-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.student-login-link2 {
  display: contents;
}
.student-login-icon16 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.student-login-container5 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 991px) {
  .student-login-hero {
    flex-direction: column;
  }
  .student-login-container3 {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .student-login-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-login-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-login-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .student-login-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-login-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .student-login-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .student-login-header {
    padding: var(--dl-space-space-unit);
  }
  .student-login-mobile-menu {
    padding: 16px;
  }
  .student-login-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .student-login-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
