.student-home1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.student-home1-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-home1-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.student-home1-navlink {
  display: contents;
}
.student-home1-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.student-home1-component {
  text-decoration: none;
}
.student-home1-icon-group {
  display: flex;
}
.student-home1-burger-menu {
  display: none;
}
.student-home1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.student-home1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-home1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.student-home1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.student-home1-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.student-home1-image1 {
  height: 2rem;
}
.student-home1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-home1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-home1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-home1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.student-home1-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.student-home1-text {
  align-self: center;
}
.student-home1-blog {
  width: 100%;
  height: 755px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.student-home1-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.student-home1-blog-post-card {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-blog-post-card:hover {
  transform: scale(1.02);
}
.student-home1-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.student-home1-blog-post-card1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-blog-post-card1:hover {
  transform: scale(1.02);
}
.student-home1-text01 {
  align-self: center;
}
.student-home1-container05 {
  width: 1261px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-home1-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text02 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.student-home1-text03 {
  margin-bottom: var(--dl-space-space-twounits);
}
.student-home1-container07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text04 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.student-home1-container08 {
  width: 1261px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-home1-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text05 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.student-home1-text06 {
  margin-bottom: var(--dl-space-space-twounits);
}
.student-home1-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text07 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.student-home1-container11 {
  width: 1261px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-home1-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text08 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.student-home1-text09 {
  margin-bottom: var(--dl-space-space-twounits);
}
.student-home1-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-text10 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.student-home1-blog-post-card2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.student-home1-blog-post-card2:hover {
  transform: scale(1.02);
}
.student-home1-navlink1 {
  text-decoration: none;
}
.student-home1-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.student-home1-image2 {
  width: 200px;
  object-fit: cover;
}
.student-home1-link {
  display: contents;
}
.student-home1-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.student-home1-link1 {
  display: contents;
}
.student-home1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.student-home1-link2 {
  display: contents;
}
.student-home1-icon16 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.student-home1-container14 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
@media(max-width: 991px) {
  .student-home1-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .student-home1-blog-post-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .student-home1-blog-post-card2 {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .student-home1-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-home1-burger-menu {
    display: flex;
    align-items: center;
    margin-right: 16px;
    justify-content: center;
  }
  .student-home1-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-home1-blog-post-card {
    flex-direction: column;
  }
  .student-home1-blog-post-card1 {
    flex-direction: column;
  }
  .student-home1-blog-post-card2 {
    flex-direction: column;
  }
  .student-home1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .student-home1-text11 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .student-home1-header {
    padding: var(--dl-space-space-unit);
  }
  .student-home1-mobile-menu {
    padding: 16px;
  }
  .student-home1-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .student-home1-container07 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .student-home1-text04 {
    width: auto;
  }
  .student-home1-container10 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .student-home1-text07 {
    width: auto;
  }
  .student-home1-container13 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .student-home1-text10 {
    width: auto;
  }
  .student-home1-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .student-home1-text11 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
