.app-component-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.app-component-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.app-component-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.app-component-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.app-component-text4 {
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-text5 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.app-component-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.app-component-profile {
  display: flex;
  align-items: center;
}
.app-component-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.app-component-text6 {
  font-style: normal;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.app-component-text7 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 479px) {
  .app-component-container2 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .app-component-text7 {
    width: auto;
  }
}
